<style>
    body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    }

    footer {
    margin-top: auto;
    max-height:auto;
    background: rgb(213, 239, 255);
    }

    .row{
        max-height: 105px;
    }


</style>
<br>
<br>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2 mb-2 col-sm-2", style="height: 132px;"> 
               <center>  <h3 class="mb-2" style="letter-spacing: 2px;"> <b>Yang Xuan Chew</b></h3> </center>
            </div>
            <div class="col-lg-5 col-md-6 mb-2 col-sm-10", style="height: 132px;"> 
                <h5 class="mb-2" style="letter-spacing: 2px; font-size: 1.2rem;"> <b>About Us </b></h5> 
                <p style="font-size: 0.8rem;"> 
                    Our mission is to transform the delivery experience with latest software solutions. 
                    We are dedicated in streamlining product allocation and delivery, ensuring excellence in every step of the process. 
                    Thank you for choosing us to drive your success.
                </p>
            </div>
            <div class="col-lg-3 col-md-4 mb-2 col-sm-12", style="height: 132px;"> 
                <h5 class="mb-1" style="letter-spacing: 2px; font-size: 1.2rem;"><b>Contact Us</b></h5> 
                <p style="font-size: 0.8rem;"> 
                    Email: yche0613@student.monash.edu <br>
                    Student ID: 33520496 <br>
                    Phone: +6123456789<br>
                    Address: FIT2095, Monash University
                </p>
            </div>
        </div>
        <div align ="left">
            <p style="font-size: 0.6rem;"> © 2024 MonashSoftApp. All rights reserved</p>
        </div>
    </div>
</footer>
