<div style="text-align: center;">
    <img src="/logo.png" style="width: 500px; height: 150px; display: block; margin: 0 auto;">
    <nav class="navbar navbar-expand-sm bg-light justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/33520496/Yang/drivers/add-driver">Add Driver</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/33520496/Yang/drivers">List Drivers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/33520496/Yang/drivers/department">List Drivers/Department</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/33520496/Yang/drivers/delete-driver">Delete Drivers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/33520496/Yang/packages/add-packages">Add Packages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/33520496/Yang/packages">List Packages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/33520496/Yang/packages/delete-packages">Delete Packages</a>
            </li>
        </ul>
    </nav>
</div>