<html>
<head>
    <link href="/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <%- include('partials/header') %>
    <div class="wrapper">
        <br>
        <h1><center>Lost?</center></h1>
        <center>
            <img src="/lost.png" style="width: 200px; height: 150px; display: block; margin: 0 auto;">
		<div class="container m-3">
            <br>
			<h2>
				<a type="button" class="btn btn-primary" href="/">Home</a>
			</h2>
		</div>
    </center>

</div>
<%- include('partials/footer') %>
</body>
</html>