<html lang="en">
<head>
    <link href="/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <%- include('partials/header') %>
    <h2><center>Welcome to FIT2095 Package Delivery Company!</center></h2>
    <%- include('partials/footer') %>
    </body>
</html>
