<html>
<head>
    <link href="/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <%- include('partials/header') %>
    <div style="text-align: center;">
        <br>
        <br>
        <h3> Invalid Data </h3>
    </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <%- include('partials/footer') %> 
    </div>
</body>
</html>