<html>
<head>
    <link href="/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <%- include('partials/header') %>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4"> 
                <div class="card shadow-sm">
                    <div class="card-body">
                        <form method="POST" action="/33520496/Yang/drivers/department">
                            <div class="mb-3">
                                <label for="department" class="form-label">Select a department </n> </label>
                                <select name="department" id="department" class="form-control">
                                    <option value="food">Food</option>
                                    <option value="furniture">Furniture</option>
                                    <option value="electronic">Electronic</option>
                                </select>
                            </div>
                            <button class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
